<!DOCTYPE html>
<html xml:lang="{{lang}}" lang="{{lang}}">
  <head>
    <meta charset="UTF-8"/>
    <title>{{invoice_type}}</title>
    <style>{{css_style}}</style>
  </head>  
  <body>

  <div id="logo">{{&logo}}</div>

  <div id="invoice_header">
    {{#invoice_header}}
    <ul>
        {{#invoice_number_flag}}<li id="invoice_number">{{invoice_number}}</li>{{/invoice_number_flag}}
        {{#invoice_issuance_date_flag}}<li id="issuance_date">{{invoice_issuance_date}}</li>{{/invoice_issuance_date_flag}}
        {{#invoice_selling_date_flag}}<li id="selling_date">{{invoice_selling_date}}</li>{{/invoice_selling_date_flag}}
        {{#invoice_original_copy_flag}}<li id="original_or_copy">{{invoice_original_copy}}</li>{{/invoice_original_copy_flag}}
    </ul>
    {{/invoice_header}}
  </div>

  <div id="seller">
    {{#seller}}
    <ul>
        {{#seller_name_flag}}<li id="seller_name">{{seller_name}}</li>{{/seller_name_flag}}
        {{#seller_street_flag}}<li id="seller_street">{{seller_street}}</li>{{/seller_street_flag}}
        {{#seller_location_flag}}<li id="seller_location">{{seller_location}}</li>{{/seller_location_flag}}
        {{#seller_taxid_flag}}<li id="seller_tax_id">{{seller_taxid}}</li>{{/seller_taxid_flag}}
        {{#seller_account_flag}}<li id="seller_account">{{seller_account}}</li>{{/seller_account_flag}}
    </ul>
    {{/seller}}
  </div>

  <div id="buyer">
    {{#buyer}}
    <ul>
        {{#buyer_name_flag}}<li id="buyer_name">{{buyer_name}}</li>{{/buyer_name_flag}}
        {{#buyer_street_flag}}<li id="buyer_street">{{buyer_street}}</li>{{/buyer_street_flag}}
        {{#buyer_location_flag}}<li id="buyer_location">{{buyer_location}}</li>{{/buyer_location_flag}}
        {{#buyer_taxid_flag}}<li id="buyer_tax_id">{{buyer_taxid}}</li>{{/buyer_taxid_flag}}
        {{#buyer_account_flag}}<li id="buyer_account">{{buyer_account}}</li>{{/buyer_account_flag}}
    </ul>
    {{/buyer}}
  </div>

    <div id="products">
    <table>
    <tr><th>#</th><th>Name</th><th>PKWiU</th><th>Quantity</th><th>Unit</th><th>Net value</th><th>Discount</th><th>VAT value</th></tr>
    {{#products}}
       <tr><td id="prod_id">{{prod_id}}</td><td id="prod_name">{{prod_name}}</td><td id="prod_pkwiu">{{prod_pkwiu}}</td><td id="prod_quantity">{{prod_quantity}}</td><td id="prod_unit">{{prod_unit}}</td><td id="prod_net_value">{{prod_net_value}}</td><td id="prod_discount">{{prod_discount}}</td><td id="prod_vat_value">{{prod_vat_value}}</td></tr>
    {{/products}}
    </table>
    </div>

  </body>
</html>
