<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="%1">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="%1">
		<meta name="Author" content="http://www.e-linux.pl">
		<title>%2</title>
		<style type="text/css">
		%3
		</style>
	</head>
	<body>
		<div class="stamp">
		%4
		</div>
                <div class="invoice_header">
                    <ul>
                        <li>%5</li>
                        <li>%6</li>
                        <li>%7</li>
                        <li>%8</li>
                        <li>%9</li>
                    </ul>
                </div>

                <div id="seller">
                    %10
                </div>

                <div id="buyer">
                    %11
                </div>

                <table id="products">
                    %12
                </table>

                <table width="100%" border="0" cellpadding="5">
                    <tr class="productsSumHeader" valign="middle">
                        <td width="67%" align="center">&nbsp;</td>
                        <td width="11%" align="center">%13</td>
                        <td width="11%" align="center">%14</td>
                        <td width="11%" align="center">%15</td>
                    </tr>
                    <tr class="productsSum">
                        <td align="right">%16</td>
                        <td align="right">%17</td>
                        <td align="right">%18</td>
                        <td align="right">%19</td>
                    </tr>
                </table>
                    <tr>
                        <td width="3%">&nbsp;</td>
                        <td width="48%">%20</td>
                    </tr>
                <table id="summary">

                </table>
	</body>
</html>
